{% for topDiscountProduct in topDiscountProducts %}
    <tr>
        <td>{{ topDiscountProduct.product.title }}</td>
        <td>{{ topDiscountProduct.product.onlinePrice }}</td>
        <td>{{ topDiscountProduct.product.oldPrice }}</td>
        <td>{{ topDiscountProduct.discountPercent|round(2, 'floor') }}%</td>
        <td>{{ topDiscountProduct.product.shop }}</td>
        <td>{{ topDiscountProduct.product.createdAt|date("d/m/Y H:i") }}</td>
        <td>
            <a href="javascript:void(0)" class="show-product-chart" data-shop="{{ topDiscountProduct.product.shop }}" data-external-id="{{ topDiscountProduct.product.externalId }}">
                <i class="fa fa-line-chart" aria-hidden="true"></i>
            </a>
        </td>
        <td>
            <a href="{{ topDiscountProduct.product.link }}" target="_blank">
                <i class="fa fa-external-link" aria-hidden="true"></i>
            </a>
        </td>
    </tr>
{% endfor %}