{% extends 'base.html.twig' %}

{% block container %}
    <form>
        <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Name of product...">

            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Search</button>
            </span>
        </div>
    </form>

    <div class="panel panel-default mr-top-25">
        <div class="panel-heading">
            <h3 class="panel-title">Top Discount Products</h3>
        </div>
        <div class="panel-body">
            <table class="table table-condensed table-striped">
                <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Online Price</th>
                    <th>Old Price</th>
                    <th>Discount Percent</th>
                    <th>Shop</th>
                    <th>Link</th>
                </tr>
                </thead>

                <tbody>
                {% for topDiscountProduct in topDiscountProducts %}
                    <tr>
                        <td>{{ topDiscountProduct.product.title }}</td>
                        <td>{{ topDiscountProduct.product.onlinePrice }}</td>
                        <td>{{ topDiscountProduct.product.oldPrice }}</td>
                        <td>{{ topDiscountProduct.discountPercent|round(2, 'floor') }}</td>
                        <td>{{ topDiscountProduct.product.shop }}</td>
                        <td><a href="{{ topDiscountProduct.product.link }}" target="_blank">link</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

